@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #F9F9F9;
    --primary-color-darker: #FFFFFF;
}

body {
    background: var(--primary-color);
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
}

.logo-vflows {
    width: 30%;
    height: 100%;
}

.container {
    max-width: 90%;
}

input {
    height: 3rem;
}

.error-text {
    font-size: 1rem;
    color: rgb(189, 0, 0);
}

.section-header {
    background-color: #C3E61E;
    font-weight: bold;
}

.produtos-body {
    margin-block: 2rem;
}

.required-indicator {
    color: red;
    margin-left: 2px;
}

.optional-indicator {
    padding-left: 0.5rem;
    font-size: 0.75rem;
    color: gray;
    font-weight: 400;
    font-style: italic;
}