@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #F9F9F9;
    --primary-color-darker: #FFFFFF;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.logo-vflows {
    width: 20%;
    height: 100%;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    background: #ffffff;
    padding: 1.25rem;
    border: solid #E4E7E7;
    border-radius: 0.5rem;
    border-width: 2px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

button {
    width: 100%;
    font-size: 1.25rem;
}

.error-text {
    font-size: 14px;
    color: rgb(189, 0, 0);
}


.section-content {
    border: solid #E4E7E7;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-width: 2px;
    border-top: none;
    padding: 1rem;
    font-size: 1.25rem;
}

.section-header {
    background-color: #C3E61E;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: 0;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.produtos-body {
    margin-block: 2rem;
}
